*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; /* khi bấm vào nhưng nút trên header thì sẽ lăn trang đến vị trí đó */
    font-family: Arial, Helvetica, sans-serif;
}
body {
    background-color: #cccccc;
}

.container-customer{
    display:flex;
    width: 1200px;
    background-color: #fff;
    height: 700px;
    margin: 0 16px;
}

.image-customer{
    display: grid;
    margin: 0 16px;
}

.img-large-customer{
    width:450px;
    height:450px;
}

.img-small-customer{
    width:84px;
    height:84px;
    border: 1px solid #bd0303;
}

.name-product-customer{
    font-size: 24px;
    font-weight: 400;
    margin-top: 60px;
}

.price-customer{
    display: flex;
    font-size: 30px;
    font-weight: 600;
    color: #f00c;
    margin:16px;
}

.name-price-customer{
    color: #999c !important;
    font-size:28px;
    margin-right : 16px; 
    font-weight:300;
}

.description-customer{
    display: flex;
    margin-left: 16px;
    margin-bottom: 16px;
}

.infor-customer{
    margin-right: 94px;
    font-size: 16px;
    color: #807f7fcc;
}

.content-description-customer{
    font-size: 16px;
    font-weight:300;
    color: #383838 !important;
}

.amount-customer{
    font-size: 20px;
    font-weight: 500;
}

.infor-cate-customer{
    margin-top: 1.1px;
    font-size:15px;
    margin-right:94px;
}

.name-cate-customer{
    font-size: 20px;
    font-weight: 600;
}

.controll-customer{
    margin-top:48px;
    margin-left: 120px;
}

.link-edit-customer:hover{
    cursor: pointer;
}

.link-edit-customer{
    text-decoration: none;
    padding: 13px 30px;
    background-color: #6574dd;
    font-size: 20px;
    color: #c8c8c8;
    margin-right: 12px;
}