
@{
    ViewBag.Title = "success";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<h2 style="margin: 16px 24px 15px 100px; font-size: 54px;">Đơn Hàng Đang Được Xử Lý</h2>
<a href="@Url.Action("Index","Customer")" class="link-edit-customer" style="        background-color: white;
        color: #ee4d2d;
        border: 2px solid #ee4d2d;
        margin: 15px 0 0 140px;
">Continue Buy</a>


